# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Virtual Envs
.env
.venv
env/
venv/
ENV/

# IDE / Editor folders
.vscode/
.idea/

# OS specific files
Thumbs.db
Desktop.ini
.DS_Store
